

/*created by online student .ie*/

body,
h1,h2,h3,h4,h5,h6,
p,
ul,li,nav,
fieldset, legend,textarea,
section,
button,
a,
span,
small

{
    padding: 0;
    margin: 0;   
}

a.a-header{
    text-decoration: none;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.animate {
    animation: moveDown 1s ease-in-out 0.2s backwards;
    background-color: red;
}

@keyframes moveDown{
    0% { 
        transform: translateY(0px); 
        opacity: 0;
        background-color: red;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
        background-color: red;
    }
}


/* Section 1 START--------------------------------------*/
section.Day3-section-1{
    max-width: 1700px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(https://images.pexels.com/photos/2166/flight-sky-earth-space.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.desktop-version{ 
    position: absolute;
    top: 20%;
    left: 10%;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;

    display: grid;
    place-content: center;
    grid-auto-flow: row;

    border: 2px solid white;
    border-right: 2px solid rgb(1, 187, 1);
    color: white;

    rotate: -20deg; 
}
/* Section 1 END--------------------------------------*/


/* Section 2 START --------------------------------------*/
section.Day3-section-2{
    max-width: 1700px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(124, 184, 130);

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(https://images.pexels.com/photos/957040/night-photograph-starry-sky-night-sky-star-957040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-position: 0px -300px;
    background-size: cover;

    position: relative;
}

a.Day3-a-back-home-page{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 1px solid white;
 
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.Day3-a-back-home-page span{
    font-size: 35px;
    background-color: red;
    padding: 0;
    display: inline-block;
    padding: 5px 0px;
}
/* Section 2 END--------------------------------------*/


/* Header START --------------------------------------*/
header.Day3-sticky-header{
    width: 100%;
    height: 100px;
   /* ackground-color: rgba(255, 215, 0, 0.5);*/
    position: fixed;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: red;*/
    padding: 0 auto;
}

h1.Day3-h1-header {
    width: fit-content;
    font-size: 50px;
    font-family: "Orbitron";
    -webkit-text-stroke: 1px rgba(255, 255, 255);
    color: transparent;
    letter-spacing: 10px;
}

div.Day3-wrapper-sud-head{
    width: fit-content;
   /* background-color: gold;*/
    padding: 10px;
}

h2.Day3-h2-header{
    width: fit-content;
   /* background-color: green;*/
    margin-left: auto;
    color: white;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: serif;
    cursor: pointer;
}

h2.Day3-h2-header a{
    border: 1px solid transparent;
    padding: 2px 5px;
    }
    

h2.Day3-h2-header a:hover{
    background-color: rgb(57, 109, 57);
    padding: 2px 5px;
    border: 1px solid white;
}
/* Header END --------------------------------------*/

button.Day3-button-AppSubmit{
    max-width: 500px;
    width: 100%;
    height: 40px;
   /* background-color: #ff0000;*/
    font-family: "Orbitron";
    letter-spacing: 5px;
    order: 5px double #ffffff;
    color: white;
    cursor: pointer;
    border: none;
}

.Day3-button-AppSubmit a {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    display: inline-block;

    display: grid;
    place-content: center;

    color: white;
    text-decoration: none
}

.Day3-footer-section-2{
    position: absolute;
    bottom: 20px;
   /* background-color: rgb(255, 234, 42);*/
}

.Day3-footer-section-2 a{
    color: rgb(150, 150, 150);
}


/* <form> START --------------------------------------------------*/

small{
    color: red;
}

.h2-form{
    max-width: 1700px;
    width: 100%;
    background-color: #f9e1b6;
    background-color: transparent;
    font-family: "Orbitron";

    display: flex;
    justify-content: center;

    margin-bottom: 10px;
    position: relative;
}

.h2-form span:nth-child(2){
    font-size: 14px;
   /* background-color: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

section.Day3-container-form-wrapper{
    margin-top: 40px;
    max-width: 700px;
    width: 100%;
   /* background-color: #ece9d6;*/
    background: #9DBDDB;
    background: linear-gradient(270deg, #9DBDDB, #DADADA);
    padding: 10px 0px;
    border: 10px solid rgb(202, 202, 202);
}

div.input-wrapper{
   /* background-color: red;*/
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}

div.input-wrapper label{
   /* background-color: green;*/
}

div.input-wrapper input{
    height: 20px;
    width: 350px;
    margin-right: 18%;
    margin-left: 2%;
    border: 1px solid black;
}

.hr-form{
    width: 90%;
    height: 1px;
    background-color: rgb(149, 149, 149);
    margin-bottom: 10px;
    border: none;
}

.hr-invisible{
    visibility: hidden;
    margin-bottom: 0px;
}

.form-education-wrapper{
   /* background-color: rgb(13, 0, 255);*/
    display: flex;
    justify-content: flex-end;
    margin: 2px;

    display: flex;
    align-items: center;
}

#education{
    background-color: #ffffff;
}

.form-education-wrapper select {
    width: 355px;
    border: none;
    height: 20px;
    margin-right: 18%;
    margin-left: 3%;
    border: 1px solid black;
}

.radio-btn-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
   /* background-color:  #f9e1b6;*/
    text-align: center;
    display: flex;
    justify-content: center;
}

.div-wrapper{
    font-weight: 700;
    margin-right: 5px;
}

.sub-wrapper{
   /* background-color:  #f9e1b6;*/
    display: flex;
    justify-content: center;
    gap: 10px;
}

textarea.textarea-section-2{
    max-width: 650px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

.age-wrapper{
   /* background-color: red;*/
   margin-top: 10px;
   margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.label-age{
    font-weight: 700;
    margin-left: 5px;
   /* background-color:  #f9e1b6;*/
}

.radio-btn-age{
   /* background-color: rgb(63, 112, 61);*/
    display: flex;
    justify-content: center;
}

.interests-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
   /* background-color: #f9e1b6;*/
    display: flex;
    justify-content: center;
}

.input-file-wrapper{
    width: fit-content;
    margin: 0 auto;
    /*background-color: red;*/
    display: block;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 40px;
}

.input-file-wrapper label{
    font-weight: 700;
    /*background-color: yellow;*/
}

input[accept="image/png, image/jpeg"]{
    width: 180px;
    display: block;
    padding-right: 0px;
    /*background-color: green;*/
}

.label-interests{
    font-weight: 700;
}

.submit-button{
    height: 30px;
    padding: 0px 10%;
    margin: 0 auto;
    border: none;
    background-color: red;
    display: block;
    color: white;
    cursor: pointer;
}

/* <form> END --------------------------------------------------*/

